<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Web View.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA0EF56E1F79E60D0052F187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA0EF5821F79E60E0052F187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA0EF58D1F79E60E0052F187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
